<!DOCTYPE html>
<html>
   <head>
    <style>
    body{
    text-align: center;
    background-image: radial-gradient(circle at 250px, purple 0%, red 10%, blue 100%, purple 40%);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family:Helvetica;
    font-variant: small-caps;
    }
    </style>
  </head>
<body>
  <h2>Book Bibliography management system</h2>

 <form action="./biblio.html"><input type="Submit" value ="Return to Bibliography Home"/></form>
  
<form action="/addBook">
  authorFN <input type="text" authorFN="authorFN"/><br/>
  authorLN <input type="text" authorLN="authorLN"/><br/>
  title <input type="text" title="title"/><br/>
  volume<input type="text" volume="volume"/><br/>
  publisher<input type="text" publisher="publisher"/><br/>
  edition<input type="text" edition="edition"/><br/>
  year<input type="text" year="year"/><br/>
  city<input type="text" city="city"/><br/>
  <input type="submit" value="Add"/>
</form>

</body>
</html>
