<!DOCTYPE html>
<html>
   <head>
    <style>
    body{
    text-align: center;
    background-image: radial-gradient(circle at 250px, purple 0%, red 10%, blue 100%, purple 40%);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family:Helvetica;
    font-variant: small-caps;
    }
    </style>
  </head>
<body>
  <h2>Book Bibliography management system</h2>

 <form action="./biblio.html"><input type="Submit" value ="Return to Bibliography Home"/></form>
  
<form action="/addBook">
  authorFN <input type="text" authorFN="Author First Name"/><br/>
  authorLN <input type="text" authorLN="Author Last Name"/><br/>
  title <input type="text" title="Book"/><br/>
  volume<input type="text" volume="Volume"/><br/>
  publisher<input type="text" publisher="Publisher"/><br/>
  edition<input type="text" edition="Edition"/><br/>
  year<input type="text" year="Year of Publication"/><br/>
  city<input type="text" city="City of Publication"/><br/>
  <input type="submit" value="Add"/>
</form>

</body>
</html>
