<!DOCTYPE html>
<html>
   <head>
    <style>
    body{
    text-align: center;
    background-image: radial-gradient(circle at 250px, purple 0%, red 100%, blue 15%, purple 30%);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family:Helvetica;
    font-variant: small-caps;
    }
    </style>
  </head>
<body>
  <h2>Film Bibliography management system</h2>

  <form action="./biblio.html"><input type="Submit" value ="Return to Bibliography Home"/>
  </form>
  
  <form action="/addFilm">
    title <input type="text" name="title"/><br/>
    directorFN <input type="text" name="directorFN"/><br/>
    directorLN <input type="text" name="directorLN"/><br/>
    actors<input type="text" name="actors"/><br/>
    studio<input type="text" name="studio"/><br/>
    medium<input type="text" name="medium"/><br/>
    year<input type="text" name="year"/><br/>
    <input type="submit" value="Add"/>
</form> 

</body>
</html>
