<!DOCTYPE html>
<html>
   <head>
    <style>
    body{
    text-align: center;
    background-image: radial-gradient(circle at 250px, purple 0%, red 50%, blue 60%, purple 20%);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family:Helvetica;
    font-variant: small-caps;
    }
    </style>
  </head>
<body>
<h2>Journal Bibliography management system</h2>

<form action="./biblio.html"><input type="Submit" value ="Return to Bibliography Home"/></form>

<form action="/addJournal">
  authorFN <input type="text" authorFN="Author First Name"/><br/>
  authorLN <input type="text" authorLN="Author Last Name"/><br/>
  article <input type="text" article="Article"/><br/>
  volume<input type="text" volume="Volume"/><br/>
  journal<input type="text" journal="Journal"/><br/>
  issue<input type="text" issue="Issue"/><br/>
  year<input type="text" year="Year of Publication"/><br/>
  pageStart<input type="text" pageStart="Starting Page"/><br/>
  pageEnd<input type="text" pageEnd="Ending Page"/><br/>
  dBase<input type="text" dBase="Database"/><br/>
  accessDate<input type="text" accessDate="Access Date"/><br/>
  <input type="submit" value="Add"/>
</form> 

</body>
</html>
