<!DOCTYPE html>
<html>
  <head>
    <style>
    body{
    text-align: center;
    background-image: radial-gradient(circle at 250px, purple 0%, red 10%, blue 40%, purple 100%);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family:Helvetica;
    font-variant: small-caps;
    }
    </style>
  </head>
<body>
  <h2>Lecture Bibliography management system</h2>

  <form action="./biblio.html"><input type="Submit" value ="Return to Bibliography Home"/></form>
  
<form action="/addLecture">
  speakerFN <input type="text" speakerFN="Speaker First Name"/><br/>
  speakerLN <input type="text" speakerLN="Speaker Last Name"/><br/>
  presentation <input type="text" presentation="Presentation"/><br/>
  type<input type="text" type="Presentation Type"/><br/>
  event<input type="text" event="Event Title"/><br/>
  city<input type="text" city="City"/><br/>
  location<input type="text" location="Location"/><br/>
  date<input type="text" date="Date"/><br/>
  <input type="submit" value="Add"/>
</form> 

</body>
</html>
