<!DOCTYPE html>
<html>
   <head>
    <style>
    body{
    text-align: center;
    background-image: radial-gradient(circle at 250px, purple 0%, red 10%, blue 30%, purple 50%);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family:Helvetica;
    font-variant: small-caps;
    }
    </style>
  </head>
<body>
  <h2>Website Bibliography management system</h2>

  <form action="./biblio.html"><input type="Submit" value ="Return to Bibliography Home"/></form>
  
<form action="/addWebsite">
  authorFN <input type="text" authorFN="Author First Name"/><br/>
  authorL <input type="text" authorLN="Author Last Name"/><br/>
  article <input type="text" article="Article"/><br/>
  website<input type="text" website="Website"/><br/>
  publisher<input type="text" publisher="Publisher"/><br/>
  url<input type="text" url="URL"/><br/>
  publishDate<input type="text" publishDate="Date of Publication"/><br/>
  accessDate<input type="text" accessDate="Date of Access"/><br/>
  <input type="submit" value="Add"/>
</form> 

</body>
</html>
