<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
    <style>
    body{
    text-align: center;
    background-image: radial-gradient(circle at 250px, purple 0%, red 10%, blue 30%, purple 50%);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family:Helvetica;
    font-variant: small-caps;
    }
    </style>
  </head>
<body>
  <h2>Website Bibliography management system</h2>

  <form action="./biblio.html"><input type="Submit" value ="Return to Bibliography Home"/>
  </form>
  
<form method="POST">
  authorFN <input type="text" authorFN="authorFN"/><br/>
  authorL <input type="text" authorLN="authorLN"/><br/>
  article <input type="text" article="article"/><br/>
  website<input type="text" website="website"/><br/>
  publisher<input type="text" publisher="publisher"/><br/>
  url<input type="text" url="url"/><br/>
  publishDate<input type="text" publishDate="publishDate"/><br/>
  accessDate<input type="text" accessDate="accessDate"/><br/>
  <input type="submit" value="Add Website"/>
</form> 
</body>
</html>
