<!DOCTYPE html>
<html>
   <head>
    <style>
    body{
    text-align: center;
    background-image: radial-gradient(circle at 250px, purple 0%, red 10%, blue 30%, purple 50%);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family:Helvetica;
    font-variant: small-caps;
    }
    </style>
  </head>
<body>
  <h2>Website Bibliography management system</h2>

  <form action="./biblio.html"><input type="Submit" value ="Return to Bibliography Home"/></form>
  
<form action="/addWebsite">
  authorFirstName <input type="text" authorFN="Author First Name"/><br/>
  authorLastName <input type="text" authorLN="Author Last Name"/><br/>
  articleTitle <input type="text" article="Article"/><br/>
  websiteTitle<input type="text" website="Website"/><br/>
  publisher<input type="text" publisher="Publisher"/><br/>
  url<input type="text" url="URL"/><br/>
  publishingDate<input type="text" pDate="Date of Publication"/><br/>
  accessDate<input type="text" aDate="Date of Access"/><br/>
  <input type="submit" value="Add"/>
</form> 

<h3>Delete</h3>
<form action="/deleteEntry">
  article <input type="text" article="Article"/><br/>
  <input type="submit" value="Remove"/>
</form>

<h3>Website Bibliography</h3>
<ol>
    <li th:each="ent : ${entries}" 
    th:text="${ent.Author Last Name}+', '+${ent.Author First Name}+'. \`'+${ent.Article}+'.\` '+${ent.Website}+'. '+${Publisher}+', '+${ent.Date of Publication}+'. Web. '+${ent.Date of Access}+'. '+${ent.URL}+'.'"></li>
</ol>

</body>
</html>
