<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title> Bibliography Gen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>
  <body>
    <header>Welcome to the Bibliography Management System</header>
    <input type="text" class="form-control" id="Au" placeholder="Author">
    <input type="text" class="form-control" id="Ti" placeholder="Title">
    <input type="text" class="form-control" id="Yr" placeholder="Year">
    <input type="text" class="form-control" id="Jo" placeholder="Journal">
  </body>
</html>
