<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
    <style>
    body{
    background-image: radial-gradient(circle at 250px, purple 0%, red 10%, blue 100%, purple 40%);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family:Helvetica;
    font-variant: small-caps;
    }
    </style>
  </head>
  <body>
    <h1>Bibliography management system</h1>
    <form action="./addBook"><input type="Submit" value ="Add a book"/>
    </form>
    <form action="./addFilm"><input type="Submit" value ="Add a film"/>
</form>
    <form action="./addJournal"><input type="Submit" value ="Add a journal"/>
    </form>
    <form action="./addLecture"><input type="Submit" value ="Add a lecture"/></form>

    <form action="./addWebsite"><input type="Submit" value ="Add a website"/>
    </form>
    
    <h2>Bibliography</h2>
    <ol>
      <li th:each="ent:${entries}"
	  th:text="${ent.citation}"></li>
    </ol>
    
    <h3>Delete</h3>
    <form action="/deleteEntry">
      authorLN <input type="text" authorLN="authorLN"/><br/>
      title <input type="text" title="title"/><br/>
      <!--<input type="radio" value="book" name="type"> Book</br>
      <input type="radio" value="film" name="type"> Film</br>
      <input type="radio" value="journal" name="type"> Journal</br>
      <input type="radio" value="website" name="type"> Website</br>
      <input type="radio" value="lecture" name="type"> Lecture</br>-->
      type <input type="text" media="type"/><br/>
      <input type="submit" value="Remove"/>
    </form>
    
    <h3>Search</h3>
    <form action="/searchEntry">
      lastName<input type="text" lastName="lastName"/><br/>
      work<input type="text" work="work"/><br/>
      <!--type<input type="radio" value="book" name="type"> Book</br>
      type<input type="radio" value="film" name="type"> Film</br>
      type<input type="radio" value="journal" name="type"> Journal</br>
      type<input type="radio" value="website" name="type"> Website</br>
      type<input type="radio" value="lecture" name="type"> Lecture</br>-->
      type<input type="text" media="Media type"/><br/>
      <input type="submit" value="Search"/>
    </form>
    
  </body>
</html>

