<!DOCTYPE html>
<html>
  <body>
    
<h3>bibliography management system</h3>
<form action="/addBook.html"><input type="Submit" value ="Add a book"/>
</form>
<form action="/addFilm.html"><input type="Submit" value ="Add a film"/>
</form>
<form action="/addJournal.html"><input type="Submit" value ="Add a journal"/>
</form>
<form action="/addLecture.html"><input type="Submit" value ="Add a lecture"/>
</form>
<form action="/addWebsite.html"><input type="Submit" value ="Add a website"/>
</form>

</body>
</html>
