<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
    <style>
    body{
    text-align: center;
    background-image: radial-gradient(circle at 250px, purple 0%, red 100%, blue 15%, purple 30%);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family:Helvetica;
    font-variant: small-caps;
    }
    </style>
  </head>
<body>
  <h2>Delete A Citation</h2>

  <form action="./biblio.html"><input type="Submit" value ="Return to Bibliography Home"/>
  </form>
  
  <form method="POST">
    authorLN<input type="text" name="authorLN"/><br/>
    title<input type="text" name="title"/><br/>
    type<input type="text" name="type"/><br/>
    <input type="submit" name="Remove"/>
  </form> 

</body>
</html>
